---
layout: default
permalink: archive/
title: Archive
categories: crown
---

<div>

  <div class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
  </div>

  <ul>
  	  {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% capture day %}{{ post.date | date: '%Y %b' }}{% endcapture %}
      {% capture nday %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}

  	  {% if year != nyear %}
  	      <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
      {% if day != nday %}
          <h4>{{ post.date | date: '%b' }}</h4>
      {% endif %}


  	    <li><a href="{{ post.url }}">{{ post.title }} </a> <span class="post-author"> - {{post.author}} </span> </li>
  	  {% endfor %}
  	</ul>


</div>
