---
layout: default
---

<div>

  {% for post in site.posts limit: 7%}

  {% capture today %}{{ site.time | date: '%m%d%Y' }}{% endcapture %}
  {% capture day %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
  {% capture nday %}{{ post.next.date | date: '%m%d%Y' }}{% endcapture %}


    {% if day != nday %}
    <div class="post-header">
      <h2>{{post.title}}</h2>
      <div class="post-date">{{ post.date | date: "%B %e, %Y" }}</div>
    </div>
    {% endif %}
    <article class="post-content">
      {{post.content}}
      <div class="post-author">
      – {{post.author}}
      </div>
    </article>

  {% endfor %}


</div>

{% include footer.html %}
